@model IEnumerable<IspitMVCProjekat.Models.Ispit>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Lista ispita";
}

<h4>Lista ispita</h4>

<p>
    @Html.ActionLink("Unos novog ispita", "Create", "Ispiti", null, new { @class = "btn btn-primary"})
</p>

<style>
    th, td {
        text-align: center;
    }
</style>


<table class="table table-bordered table-hover table-responsive-md table-responsive-sm table-responsive-lg">
    <thead style="background-color:cadetblue">
        <tr>
            <th>Broj indexa</th>
            @*<th>Ime</th>
            <th>Prezime</th>*@
            <th>Predmet</th>
            <th>Ocena</th>
            <th>Opcije</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.BrojIndexa</td>
                @*<td>@item.BrojIndexaNavigation.Ime</td>
                <td>@item.BrojIndexaNavigation.Prezime</td>*@
                <td>@item.Predmet.ImePredmeta</td>
                <td>@item.Ocena</td>
                <td>
                    @Html.ActionLink("Detaljnije", "Details", null, new { IspitID = item.IspitId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Izmena", "Edit", null, new { IspitID = item.IspitId }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Brisanje", "Delete", null, new { IspitID = item.IspitId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
